.App {
  text-align: center;
}

body {
  background-color: #303136; /*#303136;*/
  color: white;
}

.smallText {
  font-size: 12px;
}

.midText {
  margin: 4px;
  font-size: 12px;
  color: white;
}

#wrapper {
  min-height: 100%;
}
#header {
  padding-bottom: 20px;
}
#main-content {
  padding: 0px;
  margin-bottom: 0px;
  padding-bottom: 85px; /* Height of the footer */
}
#footer {
  margin-top: auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 65px; /* Height of the footer */
}

.darkTheme {
  color: white;
  background-color: #343434; /*#343434;*/
}

.form-control {
  width: 300px;
  margin-bottom: 10px;
  background-color: #d9d9d9;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
}

.bracketsContainer {
  font-weight: bold;
  color: #d9d9d9;
  text-align: center;
}

.bracket-1 {
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 4px !important;
  box-shadow: 2px 2px 3px 1px rgba(30, 30, 30, 1);
  /*background: #ff800080;*/
  background-color: #343a40;
  max-width: 660px;
}

.bracket-2 {
  padding: 3px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px 3px 1px rgba(30, 30, 30, 1);
  /* background: #a335ee32; */
  background-color: #343a40;
  max-width: 650px;
}

.bracket-3 {
  padding: 3px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px 3px 1px rgba(30, 30, 30, 1);
  /* background: #0070dd32; */
  background-color: #343a40;
  max-width: 650px;
}

.bracket-4 {
  padding: 3px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px 3px 1px rgba(30, 30, 30, 1);
  /* background: #1eff0032; */
  background-color: #343a40;
  max-width: 650px;
}

.bracketless {
  padding: 3px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px 3px 1px rgba(30, 30, 30, 1);
  /* background-color: gray; */
  background-color: #343a40;
  max-width: 650px;
}

#circle-Reserved {
  background: #ff4545;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#circle-Limited {
  background: #674ea7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#circle-Unlimited {
  background: #666666;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

table.styled-table {
  border-collapse: separate;
  border: solid #252525 1px;
  border-radius: 4px;
}

td.styled-table,
th.styled-table {
  border-left: solid #252525 1px;
  border-top: solid #252525 1px;
}

th.styled-table {
  border-top: none;
  text-align: center;
}

td.styled-table:first-child,
th.styled-table:first-child {
  border-left: none;
}

td {
  padding: 12px;
}

tbody {
  border: none;
  padding: none;
}

tbody.styled-table {
  border: none;
  padding: none;
  margin-bottom: -6px;
}

table {
  padding: none;
  margin: unset;
}

.live-search {
  margin-left: 50px;
}

.reset {
  padding: 0px;
  margin: 0px;
}

.delete-item-zone {
  font-weight: bold;
  border: 1px solid #3d3d3d;
  border-radius: 4px;
  margin: unset;
  background-color: #d9d9d9;
  width: 300px;
  height: 32px;
  box-shadow: 2px 2px 4px 0px rgba(25, 25, 25, 1);
  vertical-align: middle;
}

label {
  font-weight: bold;
  color: #d9d9d9;
}

.control {
  padding-bottom: 12px;
}

.btn {
  margin-right: 12px;
}
/* 
.login-btn {
    margin-top: 200px;
    font-size: 36px;
    font-weight: bold;
    font-family: monospace;
} */
