.App {
  text-align: center;
}

.smallText {
  font-size: 10px;
  color: white;
}

.midText {
  font-size: 12px;
  color: white;
}

@media screen and (min-width: 1200px) {
    .nav_wrapper {
        width: 1200px;
        margin: 0 auto;
        padding-left: 35px;
        padding-right: 35px;
        position: relative;
    }
}

#wrapper {
  min-height: 100%;
  position: absolute;
  padding: 0px !important;
}

#header {
  width: 100%;
  top: 1px;
}

#main-content {
  min-height: 100%;
  width: 100%;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 105px; /* 40px + height of the footer */
  margin-bottom: 0px;
  background-color: rgb(48, 48, 48);
  border-left: 1px solid rgb(12, 12, 12);
  border-right: 1px solid rgb(12, 12, 12);
  box-shadow: 2px 2px 3px 1px rgb(30, 30, 30);
}
#footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.navbar {
  background-color: rgb(42, 42, 42) !important;
  border: 1px solid rgb(12, 12, 12);
  box-shadow: 2px 2px 3px 1px rgb(30, 30, 30);
}

.form-control {
  width: 300px;
  margin-bottom: 10px;
  background-color: #d9d9d9;
}

.bracketsContainer {
  font-weight: bold;
  color: #d9d9d9;
  text-align: center;
}

.bracket {
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #2a2a2a;
  max-width: 660px;
  border: 1px solid rgb(12, 12, 12);
  border-radius: 4px !important;
  box-shadow: 2px 2px 3px 1px rgb(30, 30, 30);
}

.delete-item-zone {
  font-weight: bold;
  border: 1px solid #3d3d3d;
  border-radius: 4px;
  margin: unset;
  background-color: #d9d9d9;
  width: 300px;
  height: 32px;
  box-shadow: 2px 2px 4px 0px rgba(25, 25, 25, 1);
  vertical-align: middle;
}

.card {
  font-size: 18px;
  max-width: 800;
  margin: auto;
}

.card-footer {
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}

.label-livesearch {
  font-weight: bold;
  color: #616161;
}

.control {
  padding-bottom: 12px;
}

.btn {
  margin-right: 12px;
}

/* item circles */
#circle-Reserved {
    background: #ff4545;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  #circle-Limited {
    background: #674ea7;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  #circle-Unlimited {
    background: #666666;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }